*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background:#f1f5f8;
    color:#222;
    animation-name:motion;
    animation-duration:15s;
    animation-iteration-count:infinite;
}

.booklist{
    width: 90vw;
    max-width: 1170px;
    margin:5rem auto;
    display: flex;
    gap:2rem;
    margin-left:10px;
}



.book{
    background-color:#fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border-style:solid;
}

.book h1{
    margin-top:0.5rem;
}

.book p{
    margin-top: 0.5rem;
}

@keyframes motion{
    0%{background-image:linear-gradient(red,black)}
    25%{background-image:linear-gradient(purple,black);}
    50%{background-image: linear-gradient(aqua, black);}
    75%{background-image: linear-gradient(black, black);}
    100%{background-image:linear-gradient(blue,black);}
}

